body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 320px;
  font-family: Arial, Helvetica, sans-serif;
}

#root {
  width: 700px;
}

input {
  width: 100%;
  margin: 10px 0;
}

.results-list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 auto;

  li {
    width: 100%;
    padding: 10px;
    border: 1px solid grey;
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    height: 150px;

    .top-row {
      display: flex;
      justify-content: space-between;

      .cyr {
        font-style: italic;
        text-transform: lowercase;
      }

      .mon {
        display: block;
        writing-mode: vertical-lr;
        max-height: 100px;
      }
    }

    .monlat {
      font-size: 90%;
      font-style: italic;
    }
  }
}
